<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Selection</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/selection.css') }}" />
</head>

<body>
  <div id="popup-box">
  </div>

  <noscript>
    <div class="error">Ative o JavaScript!</div>
  </noscript>

  <div class="background">
    <div class="squares"></div>
    <div class="gradient"></div>
  </div>

  <div class="container">
    <h1>Selecione um projeto e clique no botão para confirmar</h1>
    <input type="text" autocomplete="off" placeholder="Pesquisar" />
  </div>
  <div class="entries-container">
    <p class="loading">Carregando...</p>
  </div>
  <script src="{{ url_for('static', filename='scripts/selection.js') }}"></script>
</body>

</html>
