$background: #11140f;
$blue: #93cdf6;
$blue_container: #004c6d;
$blue_source: #2196f3;
$blue_value: #2196f3;
$cyan: #80d4d5;
$cyan_container: #004f50;
$cyan_source: #00bcd4;
$cyan_value: #00bcd4;
$error: #ffb4ab;
$error_container: #93000a;
$green: #a3d398;
$green_container: #265022;
$green_source: #4caf50;
$green_value: #4caf50;
$inverse_on_surface: #2e322b;
$inverse_primary: #406836;
$inverse_surface: #e1e4da;
$magenta: #f7b1de;
$magenta_container: #693459;
$magenta_source: #9c27b0;
$magenta_value: #9c27b0;
$on_background: #e1e4da;
$on_blue: #00344c;
$on_blue_container: #c7e7ff;
$on_cyan: #003737;
$on_cyan_container: #9cf1f2;
$on_error: #690005;
$on_error_container: #ffdad6;
$on_green: #0e380d;
$on_green_container: #bef0b2;
$on_magenta: #4f1e42;
$on_magenta_container: #ffd8ee;
$on_primary: #11380b;
$on_primary_container: #c0efb0;
$on_primary_fixed: #002200;
$on_primary_fixed_variant: #285020;
$on_secondary: #263422;
$on_secondary_container: #d7e8cd;
$on_secondary_fixed: #121f0e;
$on_secondary_fixed_variant: #3c4b37;
$on_surface: #e1e4da;
$on_surface_variant: #c3c8bc;
$on_tertiary: #003739;
$on_tertiary_container: #bcebee;
$on_tertiary_fixed: #002022;
$on_tertiary_fixed_variant: #1e4d50;
$on_yellow: #2d3400;
$on_yellow_container: #ddea96;
$outline: #8d9387;
$outline_variant: #43483f;
$primary: #a5d395;
$primary_container: #285020;
$primary_fixed: #c0efb0;
$primary_fixed_dim: #a5d395;
$scrim: #000000;
$secondary: #bbcbb2;
$secondary_container: #3c4b37;
$secondary_fixed: #d7e8cd;
$secondary_fixed_dim: #bbcbb2;
$shadow: #000000;
$surface: #11140f;
$surface_bright: #363a34;
$surface_container: #1d211b;
$surface_container_high: #272b25;
$surface_container_highest: #32362f;
$surface_container_low: #191d17;
$surface_container_lowest: #0c0f0a;
$surface_dim: #11140f;
$surface_tint: #a5d395;
$surface_variant: #43483f;
$tertiary: #a0cfd2;
$tertiary_container: #1e4d50;
$tertiary_fixed: #bcebee;
$tertiary_fixed_dim: #a0cfd2;
$yellow: #c1cd7d;
$yellow_container: #424b07;
$yellow_source: #ffeb3b;
$yellow_value: #ffeb3b
