@font-face {
  font-family: Giphurs;
  src: url('../fonts/Giphurs/Giphurs[wght].woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: AfacadFlux;
  src: url('../fonts/Afacad_Flux/AfacadFlux[slnt,wght].woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
